.page {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;

    &__form {
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin: 0 auto;
        margin-top: 40px;

        width: 100%;
        max-width: 340px;
        padding: 24px;
        border-radius: 16px;
        background: #fff;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);

        &_title {
            font-size: 20px;
            font-weight: 600;
            text-align: center;
        }
    }

    &__results {
        margin-top: 12px;

        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
