.input {
    position: relative;
    width: 100%;

    &__field {
        width: 100%;
        padding: 12px 40px 12px 14px;
        font-size: 12px;
        border-radius: 8px;
        border: 1px solid #d7d7d7;
        outline: none;
        transition: border-color 0.2s ease;

        &:focus {
            border-color: #007bff;
        }
    }

    &__clear {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
    }
}
