.grid {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;

    display: grid;
    gap: 24px;

    justify-items: center;
    justify-content: center;

    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
